  
.table {
    /* width: 100%; */
    overflow-x: auto;
    overflow-y: auto;
    height : 400px;
    margin-bottom: 10px;
    /* cursor: pointer; */
}

@media screen and (max-width:410px){
    .table{
        width:100%;
    }
}


@media screen and (max-width:336px){
    .table{
        width:100%;
    }
}